.slider-container{
    position:relative;
    left:0px;
    top:0px;
    width:100%;
    overflow:hidden;

    .swiper-container{
        position:relative; top:0px; width:100%; height:auto;
        background:#fff;
        .swiper-wrapper{
            position:relative; left:0px; top:0px; width:100%; height:auto;
            background:#fff;
            .swiper-slide{
                position:relative; left:0px; top:0px; width:100%; height:auto;
                img{
                    position:relative;
                    left:0px;
                    top:0px;
                    width:100%;
                }
                background:#fff;
                .mobile-version{display:none;}

                .overlay-color{
                    position:absolute;
                    left:0px;
                    top:0px;
                    width:100%;
                    height:100%;
                    background: #001438;
                    opacity: 0.4;
                }
                .slider-text{
                    position:absolute;
                    width:1200px;
                    left:calc(50% - 600px);
                    top:50px;
                    height:calc(100% - 100px);
                    display: inline-flex;
                    align-items: center;
                    flex-wrap: wrap;
                    h1{
                        max-width:500px;
                        color:#fff;
                        font-weight:bold;
                        font-size:46px;
                        margin-bottom:0px;

                    }
                    .slider-properties{
                        position:relative;
                        left:0px;
                        top:0px;
                        width:100%;
                        .single-property{
                            position:relative;
                            left:0px;
                            top:0px;
                            width:100%;
                            height:60px;
                            margin:0px;

                            .just-check{
                                position:absolute;
                                left:0px;
                                top:0px;
                                width:80px;
                                height:100%;
                                i{
                                    color:#00C0CD;
                                    font-weight:bold;
                                    font-size:30px;
                                }
                            }
                            .just-property{
                                position:absolute;
                                left:60px;
                                top:0px;
                                h2{
                                    color:#fff;
                                    margin-top:0px;
                                }
                            }
                        }
                    }
                    .slider-button{
                        position:relative;
                        left:0px;
                        top:0px;
                        width:100%;
                        height:100px;
                        .slider-button-btn{
                            position:relative;
                            left:0px;
                            top:0px;
                            width:300px;
                            height:36px;
                            border-radius:3px;
                            background:#00C0CD;
                            text-align:center;
                            p{
                                color:#fff;
                                font-size:16px;
                                padding-top:7px;
                                font-weight:bold;
                            }
                        }
                    }
                }

                @media screen and (max-width: 1000px) {
                    .desktop-version{display:none;}
                    .mobile-version{display:block;}
                    .slider-text{
                        left:50px;
                        width:calc(100% - 100px);
                        h1{
                            font-size:30px;
                        }
                    }
                }
                @media screen and (max-width: 800px) {
                    .slider-text{
                        left:20px;
                        width:calc(100% - 40px);
                        h1{
                            font-size:30px;
                        }

                        .slider-properties {
                            .single-property {
                                .just-check {
                                    i{font-size:20px; margin-top:5px;}
                                }
                                .just-property {
                                    left:40px;
                                    h2{
                                        font-size:20px;
                                        margin-top:0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .swiper-button-next{
            //top:95px !important;
            right:30px !important;
            height:50px;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%2300C0CD'%2F%3E%3C%2Fsvg%3E") !important;
        }
        .swiper-button-prev{
            //top:95px !important;
            left:30px !important;
            height:50px;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%2300C0CD'%2F%3E%3C%2Fsvg%3E") !important;
        }
        .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
            background: #00C0CD;
        }
        @media screen and (max-width: 1000px) {
            .swiper-button-prev, .swiper-button-next{display: none;}
        }

        .swiper-pagination {
            .swiper-pagination-bullet{
                background:#00C0CD;
                width:22px;
                border-radius:0px;
                height:5px;
            }
        }
    }



    //img{
    //    position:relative;
    //    left:0px;
    //    top:0px;
    //    width:100%;
    //    @media screen and (max-width: 1000px) {
    //        position:absolute;
    //        left:-300px;
    //        width:calc(100% + 600px);
    //    }
    //}
}

/***************************************************** NUMBERS ********************************************************/

.numbers{
    position:relative;
    left:calc(50% - 700px);
    width:1400px;
    min-height: 200px;
    display: inline-flex;
    justify-content: space-between;
    .one-number{
        position:relative;
        left:0px;
        top:0px;
        width:33%;
        text-align: center;
        height:240px;
        h3{
            font-size:80px;
            margin:0px;
            margin-top:30px;
            color:grey;
        }
        p{
            font-size:30px;
            margin:0px;
        }
    }
}


/************************************************** THREE ESTATES *****************************************************/

.home-estates{
    margin-top:80px;
    position:relative;
    left:calc(50% - 700px);
    top:0px;
    width:1400px;
    min-height:400px;
    height:auto;
    display:inline-flex;
    justify-content: space-between;
    .first-one{
        position:relative;
        left:0px;
        top:0px;
        height:596px;
        width:930px;
        img{
            position:relative;
            left:0px;
            top:0px;
            height:100%;
            width: 100%;
        }
    }
    .second-one{
        position:relative;
        left:0px;
        top:0px;
        height:596px;
        width:450px;
        display: inline-flex;
        flex-wrap: wrap;
        .second-image{
            position:relative;
            left:0px;
            top:0px;
            width:100%;
            height:calc(50% - 10px);
            img{
                position:relative;
                left:0px;
                top:0px;
                width:100%;
                height: 100%;
            }
        }
        .second-image:last-child{
            margin-top:20px;
        }
    }
    .first-one, .second-one{
        .wrapper{
            position:absolute;
            left:0px;
            top:0px;
            width:100%;
            height:100%;
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 45%, rgba(0,0,0,0.75) 100%);

            .status{
                position:absolute;
                right:15px;
                top:15px;
                height:26px;
                background: #00C0CD;
                padding-left:15px;
                padding-right:15px;
                border-radius:3px;
                p{
                    color:#fff;
                    font-weight:bold;
                    margin:0px;
                    font-size:14px;
                    padding-top:4px;
                }
            }
            .sell{
                background: #F6B753;
            }
            .rent{
                background: #0097D6;
            }
            .sale{
                background: #FF6501;
            }
            .details-about{
                position:absolute;
                left:15px;
                bottom:28px;
                width:calc(100% - 200px);
                h4{
                    color:#fff;
                    font-size:24px;
                    width:calc(100% + 180px);
                    margin:0px;
                    padding:0px;
                    left:0px;
                }
                p{
                    color:#fff;
                    margin:0px;
                }
                .button-wrap{
                    position:relative;
                    width:100%;
                    display: inline-flex;
                    margin-top:10px;
                    .button{
                        padding-left:20px;
                        padding-right:20px;
                        border-radius:3px;
                        position:relative;
                        height:30px;
                        background:#00C0CD;
                        color:#fff;
                        p{
                            margin:0px;
                            font-weight:bold;
                            padding-top:4px;
                        }
                    }
                }
            }
            .analytics-wrapper{
                position:absolute;
                right:15px;
                bottom:10px;
                height:40px;
                width:160px;
                display:inline-flex;
                justify-content: space-between;
                .single-analytics{
                    position:relative;
                    left:0px;
                    top:0px;
                    width:34px;
                    height:34px;
                    background: #000;
                    border-radius:3px;
                    text-align:center;
                    i{
                        color:#fff;
                        margin-top:9px;
                    }
                }
                .single-analytics:hover{cursor: pointer;}

            }
        }

    }
}

/*************************************************** SMALL INTRO ******************************************************/

.small-intro{
    position:relative;
    left:0px;
    top:0px;
    width:100%;
    min-height:300px;
    text-align:center;
    background:#EFEFEF;
    margin-top:80px;
    .inside-intro{
        position:relative;
        left:calc(50% - 700px);
        top:0px;
        width:1400px;
        h2{
            padding-top:80px;
            margin:0px;
            font-size:45px;
        }
        p{
            font-size:18px;
            padding-bottom:80px;
            margin-bottom:0px;
        }
    }
}

@media screen and (max-width: 1400px) {
    .numbers{
        left:50px;
        width:calc(100% - 100px);
        .one-number{
            height:200px;
            h3{
                font-size:60px;
            }
            p{
                font-size:24px;
                margin:0px;
            }
        }
    }
    .home-estates{
        left:calc(50% - 600px);
        width:1200px;
        .first-one {
            position: relative;
            height: 530px;
            width:790px;
        }
        .second-one{
            height: 530px;
            width:390px;
        }
    }

    .small-intro{
        .inside-intro{
            left:calc(50% - 600px);
            width:1200px;
        }
    }
}
@media screen and (max-width: 1200px){
    .home-estates{
        left:50px;
        width:calc(100% - 100px);
        height:auto;
        .first-one {
            position: relative;
            width:65%;
        }
        .second-one{
            width:32%;
        }
    }
    .small-intro{
        .inside-intro{
            left:50px;
            width:calc(100% - 100px);
        }
    }
}
@media screen and (max-width: 1000px){
    .home-estates{
        flex-wrap: wrap;
        height:auto;
        .first-one {
            position: relative;
            width:100%;
            height:auto;
            img{
                height:auto;
            }
        }
        .second-one{
            margin-top:20px;
            width:100%;
            height:auto;
            flex-wrap: wrap;
            .second-image{
                width:100%;
                height:auto;
                margin:0px;
                img{
                    position:relative;
                    margin:0px;
                    height: auto;
                }
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .numbers{
        margin-top:20px;
        left:20px;
        margin-bottom:20px;
        width:calc(100% - 40px);
        flex-wrap: wrap;
        .one-number{
            width:100%;
            height:120px;
            h3{
                font-size:44px;
                margin-top:10px;
            }
            p{
                font-size:22px;
                margin:0px;
            }
        }
    }
    .home-estates{
        margin-top:50px;
        left:20px;
        width:calc(100% - 40px);
    }

    .small-intro{
        margin-top:50px;
        .inside-intro{
            left:20px;
            width:calc(100% - 40px);

            h2{
                font-size:26px;
                padding-top:40px;
            }
            p{
                font-size:16px;
                padding-bottom:40px;
            }
        }
    }
}


.just-line{position:relative; left:0px; top:0px; width:100%; border-bottom:1px solid rgba(0,0,0,0.1);}
