.slider-container{
    position:relative;
    left:0px;
    top:0px;
    width:100%;
    height:auto;
    img{
        position:relative;
        left:0px;
        top:0px;
        width:100%;
    }
}
