.breadcrumbs{
    position:relative;
    left:0px;
    width:100%;
    height:50px;
    background: #EFEFEF;
    border-top:1px solid rgba(0,0,0,0.1);

    .inside-breadcrumbs{
        position:relative;
        left:calc(50% - 700px);
        width:1400px;
        height:50px;
        display: inline-flex;
        justify-content: space-between;
        .single-part{
            position:relative;
            left:0px;
            top:0px;
            height:50px;
            p{
                font-weight: bold;
                font-size:14px;
                margin-top:16px;
                a{
                    color:grey;
                    transition: all 0.2s;
                }
                a:last-child{color:#000;}
                a:hover{color:#000;}
            }
        }
    }
}

.estate-details{
    position:relative;
    left:calc(50% - 700px);
    width:1400px;
    min-height:800px;
    display: inline-flex;
    justify-content: space-between;
    margin-top:30px;

    .estate-full{
        position:relative;
        left:0px;
        top:0px;
        width:1080px;
        height:auto;
        border:1px solid rgba(0,0,0,0.15);
        font-family: Montserrat;
        .estate-state{
            position:relative;
            left:0px;
            top:0px;
            width:100%;
            height:50px;
            text-align: right;
            .status{
                position:relative;
                right:30px;
                display: inline-flex;
                top:15px;
                height:30px;
                background: #00C0CD;
                padding-left:25px;
                padding-right:25px;
                border-radius:3px;
                p{
                    color:#fff;
                    margin:0px;
                    font-size:13px;
                    padding-top:6px;
                }
            }
            .sell{
                background: #F6B753;
            }
            .rent{
                background: #0097D6;
            }
            .sold{
                background: #FF6501;
            }
            .featured{
                background: #000;
                p{color:#fff;}
            }
        }
        .estate-header{
            position:relative;
            left:0px;
            top:0px;
            width:100%;
            h1{
                font-family: Montserrat;
                font-weight: normal;
                margin-left:30px;
                margin-bottom:0px;
            }
            p{
                margin-left:30px;
                margin-top:10px;
                margin-bottom:30px;
            }
        }
        .price, .estate-menu{
            top:0px;
            position:relative;
            margin-top:15px;
            width:calc(100% + 20px);
            left:-10px;
            height:45px;
            background: #00C0CD;
            h2{
                font-weight: normal;
                font-family: Montserrat;
                color:#fff;
                margin-left:40px;
                padding-top:7px;
            }
        }
        .basic-info{
            position:relative;
            left:0px;
            top:0px;
            width:100%;
            padding-top:15px;
            .single-of-basic{
                position:relative;
                left:30px;
                width:calc(100% - 60px);
                height:32px;
                border-bottom:1px solid rgba(0,0,0,0.1);
                display: inline-flex;
                justify-content: space-between;
                p{
                    margin-top:0px;
                    padding-top:8px;
                    font-weight: normal;
                    font-size:13px;
                }
                p:first-child{color:#333;}
            }
            .single-of-basic:last-child{border:none; margin-bottom:5px;}
        }
        .estate-menu{
            display: inline-flex;
            .menu-icon{
                position:relative;
                margin-left:40px;
                top:10px;
                height:25px;
                width:40px;
                border-right:1px solid #fff;
                i{
                    color:#fff;
                    padding-top:4px;
                }
            }
            .rest-of-it{
                display: inline-flex;
                padding-left:20px;
                p{
                    font-size:14px;
                    color:#fff;
                    margin-right:20px;
                }
            }
        }
        .details-about{
            position:relative;
            left:0px;
            top:0px;
            width:100%;
            p{
                margin:30px;
                font-size:14px;
                font-weight:normal;
            }
        }

        .features-header{
            position:relative;
            left:30px;
            width:calc(100% - 60px);
            height:40px;
            border-bottom:1px solid rgba(0,0,0,0.1);
            margin-bottom:20px;
            padding-top:100px;
            margin-top:-100px;
            h4{
                font-weight:normal;
                margin:0px;
                font-size:24px;
            }
        }

        .features{
            position:relative;
            left:0px;
            top:0px;
            width:100%;
            .all-features{
                position:relative;
                left:30px;
                top:0px;
                width:calc(100% - 60px);
                display: inline-flex;
                flex-wrap: wrap;
                .single-feature{
                    position:relative;
                    left:0px;
                    top:0px;
                    width:50%;
                    height:30px;
                    display: inline-flex;
                    i{
                        padding-top:10px;
                        color:#00C0CD;
                    }
                    p{
                        font-size:13px;
                        margin-left:15px;
                        margin-top:10px;
                    }
                }
                .single-feature:last-child{margin-bottom:30px;}
            }
        }
        .files{
            position:relative;
            left:30px;
            top:0px;
            width:calc(100% - 60px);
            display: inline-flex;
            flex-wrap: wrap;
            margin-bottom:30px;
            z-index: 50;
            .single-file{
                position:relative;
                left:0px;
                top:0px;
                height:30px;
                display: inline-flex;
                margin-right:30px;
                i{
                    padding-top:10px;
                }
                p{
                    font-size:13px;
                    margin-left:15px;
                    margin-top:10px;
                }
            }
            .single-file:hover{
                p, i{color:#00C0CD;}
            }
        }
        .video{
            position:relative;
            left:30px;
            top:0px;
            width:calc(100% - 60px);
            margin-bottom:30px;
            iframe{
                position:relative;
                left:0px;
                top:0px;
                width:100%;
                height:400px;
                border:none;
            }
        }
        .nearby{
            position:relative;
            left:30px;
            top:0px;
            width:calc(100% - 60px);
            margin-bottom:15px;
            .single-class{
                position:relative;
                left:0px;
                top:0px;
                width:100%;
                min-height:40px;
                margin-bottom:15px;
                .class-header{
                    position:relative;
                    left:0px;
                    top:0px;
                    width:100%;
                    height:40px;
                    display: inline-flex;
                    .class-icon{
                        position:relative;
                        width:26px;
                        height:26px;
                        border-radius:3px;
                        top:7px;
                        background: #FF6501;
                        text-align: center;
                        i{
                            color:#fff;
                            margin-top:7px;
                            font-size:12px;
                        }
                    }
                    p{
                        margin-left:15px;
                        margin-top:11px;
                        font-weight:bold;
                    }
                }
                .single-nearby{
                    margin-top:5px;
                    position:relative;
                    left:0px;
                    top:0px;
                    width:100%;
                    height:30px;
                    display: inline-flex;
                    justify-content: space-between;
                    .what-is{
                        position:relative;
                        left:0px;
                        height:30px;
                        display: inline-flex;
                        p{
                            font-size:14px;
                            margin-top:6px;
                            margin-bottom:6px;
                            span{
                                color:grey;
                                margin-left:10px;
                            }
                        }
                    }
                    .stars-part{
                        position:relative;
                        height:100%;
                        display: inline-flex;
                        .single-star{
                            margin-top:7px;
                            width:16px;
                            height:16px;
                            background: darkgoldenrod;
                            text-align: center;
                            margin-left:5px;
                            border-radius:1px;
                            i{
                                color:#fff;
                                font-size:8px;
                                margin-top:4px;
                            }
                        }
                    }
                }
                .single-nearby:hover{cursor:pointer;}
            }
            .education{
                .class-header{
                    .class-icon{
                        background: #333333;
                    }
                }
            }
            .transport{
                .class-header{
                    .class-icon{
                        background: #00ACED;
                    }
                }
            }
            .clubs{
                .class-header{
                    .class-icon{
                        background: #d0211c;
                    }
                }
            }
            .parks{
                .class-header{
                    .class-icon{
                        background: #00FFD0;
                    }
                }
            }
            .shops{
                .class-header{
                    .class-icon{
                        background: #385d7a;
                    }
                }
            }
        }
        .map-of-estate{
            position:relative;
            left:30px;
            width:calc(100% - 60px);
            height:350px;
            border:1px solid rgba(0,0,0,0.1);
            margin-bottom:50px;
        }

        // Contact agent
        .contact-agent{
            position:relative;
            left:0px;
            top:0px;
            width:100%;
            min-height:400px;
            background: #EFEFEF;
            display: inline-flex;
            justify-content: space-between;
            .agent-preview{
                position:relative;
                width:240px;
                height:auto;
                margin-left:30px;
                .agent-image{
                    position:relative;
                    left:0px;
                    top:0px;
                    width:100%;
                    border-radius:3px;
                    overflow: hidden;
                    img{
                        position:relative;
                        left:0px;
                        top:0px;
                        width:100%;
                    }
                }
                .agent-details{
                    margin-top:10px;
                    .single-agent-detail{
                        position:relative;
                        left:0px;
                        top:0px;
                        width:100%;
                        height:30px;
                        margin-top:5px;
                        display: inline-flex;
                        justify-content: space-between;
                        border-bottom:1px solid rgba(0,0,0,0.05);
                        i{
                            margin-top:8px;
                            font-size:12px;
                        }
                        p{
                            font-size:12px;
                            margin-top:7px;
                        }
                    }
                }
                .agent-social{
                    position:relative;
                    left:0px;
                    width:100%;
                    margin-top:20px;
                    display: inline-flex;
                    margin-bottom:30px;
                    .single-social-icon{
                        width:30px;
                        height:30px;
                        border:1px solid rgba(0,0,0,0.1);
                        border-radius:2px;
                        text-align:center;
                        margin-right:10px;
                        i{
                            margin-top:7px;
                        }
                    }
                    .single-social-icon:hover{cursor: pointer;}
                }
            }
            .contact-form{
                position:relative;
                left:0px;
                width:calc(100% - 330px);
                margin-right:30px;
                height:100%;

                .my-select-wrapper{
                    position:relative;
                    left:0px;
                    top:0px;
                    width:100%;
                    height:40px;
                    background: #fff;
                    border:1px solid rgba(0,0,0,0.1);
                    .my-select-value{
                        position:absolute;
                        left:0px;
                        top:0px;
                        width:100%;
                        height:40px;
                        background: #fff;
                        p{
                            margin-left:20px;
                            margin-top:12px;
                            font-size:13px;
                            font-weight:bold;
                            color:grey;
                            font-family: 'Nunito', sans-serif;
                        }
                        .select-arrow{
                            position:absolute;
                            right:0px;
                            top:0px;
                            width:40px;
                            height:40px;
                            text-align:center;
                            i{
                                margin-top:15px;
                                font-size:12px;
                                color:grey;
                                //transform: rotate(180deg);
                                transition:all 0.2s;
                            }
                        }
                    }

                    .select-values{
                        position:absolute;
                        left:-1px;
                        background:#fff;
                        z-index:1000;
                        top:42px;
                        width:100%;
                        max-height:280px;
                        border:1px solid rgba(0,0,0,0.1);
                        overflow:auto;
                        //border-top:none;
                        display:none;
                        .my-option{
                            position:relative;
                            left:0px;
                            top:0px;
                            width:calc(100% - 20px);
                            height:28px;
                            //border-top:1px solid rgba(0,0,0,0.1);
                            background:#fff;

                            padding-left:20px;
                            padding-top:12px;
                            font-size:13px;
                            font-weight:bold;
                            color:grey;
                            font-family: 'Nunito', sans-serif;
                            transition:all 0.2s;
                        }
                        .my-option:hover{background:rgba(0,0,0,0.1); cursor:pointer;}
                    }
                }
                .my-select-wrapper:hover{cursor:pointer;}

                .other-first{
                    position:relative;
                    width:100%;
                    margin-top:20px;
                    height:40px;
                    left:0px;
                    border-radius:2px;
                    background:#fff;
                    border:1px solid rgba(0,0,0,0.1);
                    margin-bottom:20px;
                    input{
                        position:absolute;
                        left:0px;
                        top:0px;
                        width:100%;
                        height:100%;
                        border:none;
                        padding-left:15px;
                        outline:none;
                    }
                    textarea{
                        position:relative;
                        width:100%;
                        height:200px;
                        border:none;
                        font-size:14px;
                        padding:15px;
                        resize: vertical;
                        outline:none;
                    }
                }
                .other-text{height:auto;}

                .send-button{
                    height:34px;
                    background: #00C0CD;
                    width:200px;
                    border-radius:3px;
                    text-align: center;
                    p{
                        color:#fff;
                        font-size:14px;
                        padding-top:8px;
                    }
                    margin-bottom:30px;
                }
                .send-button:hover{cursor:pointer;}
            }
            .agent-preview, .contact-form{
                .just-header{
                    position:relative;
                    left:0px;
                    top:0px;
                    height:50px;
                    width: 100%;
                    border-bottom:1px solid rgba(0,0,0,0.1);
                    margin-top:20px;
                    margin-bottom:20px;
                    h4{
                        font-weight:normal;
                        margin:0px;
                        font-size:20px;
                        padding-top:13px;
                    }
                }
            }
        }
    }

    .sidebar{
        position:relative;
        width:280px;
        min-height: 200px;

        .agent-preview{
            position:relative;
            border:1px solid rgba(0,0,0,0.1);
            width:100%;
            height:auto;
            .just-header{
                text-align: center;
                h4{
                    font-size:20px;
                    margin-bottom:0px;
                }
                p{
                    margin-top:4px;
                    color:grey;
                }
            }
            .agent-image{
                position:relative;
                left:20px;
                top:0px;
                width:calc(100% - 40px);
                margin-top:20px;
                border-radius:3px;
                overflow: hidden;
                img{
                    position:relative;
                    left:0px;
                    top:0px;
                    width:100%;
                }
            }
            .agent-details{
                margin-top:10px;
                .single-agent-detail{
                    position:relative;
                    left:20px;
                    top:0px;
                    width:calc(100% - 40px);
                    height:30px;
                    margin-top:5px;
                    display: inline-flex;
                    justify-content: space-between;
                    border-bottom:1px solid rgba(0,0,0,0.05);
                    i{
                        margin-top:8px;
                        font-size:12px;
                    }
                    p{
                        font-size:12px;
                        margin-top:7px;
                    }
                }
            }
            .agent-social{
                position:relative;
                left:20px;
                width:calc(100% - 40px);
                margin-top:20px;
                display: inline-flex;
                margin-bottom:20px;
                .single-social-icon{
                    width:30px;
                    height:30px;
                    border:1px solid rgba(0,0,0,0.1);
                    border-radius:2px;
                    text-align:center;
                    margin-right:15px;
                    i{
                        margin-top:7px;
                    }
                }
                .single-social-icon:hover{cursor: pointer;}
            }
        }
        .get-date{
            margin-top:30px;
            position:relative;
            border:1px solid rgba(0,0,0,0.1);
            width:100%;
            background: #EFEFEF;
            .get-date-header{
                text-align: center;
                h4{
                    font-weight: normal;
                    font-size:22px;
                    margin-bottom:14px;
                }
                h5{
                    font-size:18px;
                    font-weight: normal;
                    margin:0px;
                }
            }
            .swiper-container{
                position:relative;
                left:0px;
                top:0px;
                width:100%;
                height:150px;
                background: #EFEFEF;
                .swiper-wrapper{
                    position:relative;
                    left:0px;
                    top:0px;
                    width:100%;
                    height:100%;
                    margin-top:10px;
                    .swiper-slide{
                        background: #fff;
                        margin-bottom:10px;
                        border:1px solid rgba(0,0,0,0.1);
                        height:120px;
                        text-align:center;

                        .date-header {
                            position:relative;
                            left:0px;
                            top:0px;
                            width:100%;
                            height:30px;
                            background: #00C0CD;
                            text-align: center;
                            p{
                                color:#fff;
                                font-weight:bold;
                                padding-top:5px;
                                margin:0px;
                            }
                        }
                        h4{
                            color:#00C0CD;
                            font-size:40px;
                            margin:0px;
                            margin-top:10px;
                        }
                        h5{
                            margin:0px;
                        }
                    }
                }

                .swiper-button-next{
                    //top:95px !important;
                    right:4px !important;
                    height:10px;
                    top:86px !important;
                    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%2300C0CD'%2F%3E%3C%2Fsvg%3E") !important;
                }
                .swiper-button-prev{
                    //top:95px !important;
                    left:5px !important;
                    height:10px;
                    top:86px !important;
                    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%2300C0CD'%2F%3E%3C%2Fsvg%3E") !important;
                }
            }

            .select-dates{
                position:relative;
                left:20px;
                top:0px;
                width:calc(100% - 40px);
                height:50px;
                margin-top:20px;
                display: inline-flex;

                .my-select-wrapper{
                    position:relative;
                    left:0px;
                    top:0px;
                    width:100%;
                    height:30px;
                    background: #fff;
                    border:1px solid rgba(0,0,0,0.1);
                    .my-select-value{
                        position:absolute;
                        left:0px;
                        top:0px;
                        width:100%;
                        height:30px;
                        background: #fff;
                        p{
                            margin-left:20px;
                            margin-top:7px;
                            font-size:13px;
                            font-weight:bold;
                            color:grey;
                            font-family: 'Nunito', sans-serif;
                        }
                        .select-arrow{
                            position:absolute;
                            right:0px;
                            top:0px;
                            width:40px;
                            height:30px;
                            text-align:center;
                            i{
                                margin-top:10px;
                                font-size:12px;
                                color:grey;
                                //transform: rotate(180deg);
                                transition:all 0.2s;
                            }
                        }
                    }

                    .select-values{
                        position:absolute;
                        left:-1px;
                        background:#fff;
                        z-index:1000;
                        top:32px;
                        width:100%;
                        max-height:280px;
                        border:1px solid rgba(0,0,0,0.1);
                        overflow:auto;
                        //border-top:none;
                        display:none;
                        .my-option{
                            position:relative;
                            left:0px;
                            top:0px;
                            width:calc(100% - 20px);
                            height:23px;
                            //border-top:1px solid rgba(0,0,0,0.1);
                            background:#fff;

                            padding-left:20px;
                            padding-top:7px;
                            font-size:13px;
                            font-weight:bold;
                            color:grey;
                            font-family: 'Nunito', sans-serif;
                            transition:all 0.2s;
                        }
                        .my-option:hover{background:rgba(0,0,0,0.1); cursor:pointer;}
                    }
                }
                .my-select-wrapper:hover{cursor:pointer;}
                .to{
                    margin-left:10px;
                    margin-right:10px;
                    margin-top:0px;
                    font-size:14px;
                    padding-top:7px;
                }
            }
            .schedule{
                position:relative;
                left:20px;
                top:0px;
                width:calc(100% - 40px);
                background: #00C0CD;
                height: 28px;
                text-align: center;
                border-radius: 3px;
                margin-bottom:20px;
                p{
                    color:#fff;
                    font-size:14px;
                    padding-top:5px;
                }
            }
            .schedule:hover{cursor:pointer;}
        }
    }
}

@media screen and (max-width: 1400px) {
    .breadcrumbs{
        .inside-breadcrumbs{
            left:calc(50% - 600px);
            width:1200px;
        }
    }
    .estate-details{
        left:calc(50% - 600px);
        width:1200px;
        .estate-full{
            width:880px;
        }
    }
}
@media screen and (max-width: 1200px) {
    .breadcrumbs{
        .inside-breadcrumbs{
            left:50px;
            width:calc(100% - 100px);
        }
    }
    .estate-details{
        left:50px;
        width:calc(100% - 100px);
        .estate-full{
            width:calc(100% - 260px);
        }
        .sidebar{
            width:240px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .breadcrumbs{
        .inside-breadcrumbs{
            left:50px;
            width:calc(100% - 100px);
        }
    }
    .estate-details{
        flex-wrap: wrap;
        justify-content: initial;
        .estate-full{
            width:100%;
            .contact-agent{
                .agent-preview{
                    display: none;
                }
                .contact-form{
                    left:30px;
                    width:calc(100% - 60px);
                }
            }
        }
        .sidebar{
            width: 100%;
            .get-date {
                .swiper-container {
                    height: 190px;
                    .swiper-wrapper {
                        .swiper-slide {
                            height: 160px;
                            h4{
                                margin-top:20px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 800px) {
    .breadcrumbs{
        height: auto;
        .inside-breadcrumbs{
            left:20px;
            height: auto;
            width:calc(100% - 40px);
            .single-wanished{display: none;}
            .single-part{
                height: auto;
                p{
                    margin-bottom:16px;
                }
            }
        }
    }
    .estate-details{
        left:20px;
        width:calc(100% - 40px);
        .estate-full{
            .estate-state{
                display: none;
            }
            margin-bottom:30px;
            .estate-header{
                h1, p{
                    margin-left:15px;
                    margin-right:15px;
                }
            }
            .estate-menu{
                height: auto;
                flex-wrap:wrap;
                .menu-icon{
                    display: none;
                }
                .rest-of-it{
                    margin-left:25px;
                    width:calc(100% - 50px);
                    height: auto;
                    padding-left:0px;
                    flex-wrap:wrap;
                    justify-content: center;
                    a{
                        margin:0px;
                        left:0px;
                        width: 100%;
                        text-align: center;
                        border-bottom:1px solid rgba(255,255,255,01);
                    }
                    a:last-child{border:none;}
                }
            }
            .price{
                h2{
                    margin-left:25px;
                }
            }
            .basic-info {
                .single-of-basic {
                    position: relative;
                    left: 15px;
                    width: calc(100% - 30px);
                }
            }
            .details-about{
                p{margin-left:15px; margin-right:15px; text-align: justify;}
            }
            .features-header {
                left: 15px;
                width: calc(100% - 30px);
            }
            .video{
                left:15px;
                width:calc(100% - 30px);
                iframe{
                    height:220px;
                }
            }
            .nearby{
                left:15px;
                width:calc(100% - 30px);
                .single-class{
                    .single-nearby{
                        width:100%;
                        height: auto;
                        flex-wrap: wrap;
                        .what-is{
                            height: auto;
                            width:100%;
                            justify-content: space-between;
                        }
                        .stars-part{
                            height:30px;
                            width:100%;
                            justify-content: flex-end;
                        }
                    }
                }
            }
            .map-of-estate{
                left:15px;
                width:calc(100% - 30px);
                height:300px;
            }

            .contact-agent{
                min-height: auto;
                height: 620px;
                .contact-form{
                    left:15px;
                    width:calc(100% - 30px);
                    .send-button{
                        width:100%;
                    }
                }
            }
        }
    }
}
